[Desktop Entry]
Version=1.0
Type=Link
Name=test
Comment=
Icon=user-bookmarks
URL=https://platforma.uafm.edu.pl/platform/groupdetails/bhp-wersja-pl-Jz-7Fm8S-IFaju/activity/bhp-test-pl/?lang=en
